<?xml version="1.0"?>
<configuration>
    <system.webServer>
		<defaultDocument>
			<files>
				<add value="index.asp" />
			</files>
		</defaultDocument>
	</system.webServer>
	<system.web>
		<!--<compilation debug="true" />
		<customErrors mode="RemoteOnly" >
			<error statusCode="404" redirect="/Error/404_Page_Not_Found.html" />
		</customErrors>-->
	</system.web>
</configuration>