<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.asp" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
      <authentication>
        <!-- <anonymousAuthentication userName="" /> -->
      </authentication>
    </security>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS Redirect" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Set HttpOnly" preCondition="No HttpOnly">
          <match serverVariable="RESPONSE_Set_Cookie" pattern="" />
          <action type="Rewrite" value="{R:0}; HttpOnly" />
        </rule>
        <rule name="Use only secure cookies" preCondition="Unsecured cookie">
          <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; secure" />
        </rule>
        <rule name="Remove Server Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <action type="Rewrite" />
        </rule>
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=Strict" />
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=None" negate="true" />
          </preCondition>
          <preCondition name="No HttpOnly">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; HttpOnly" negate="true" />
          </preCondition>
          <preCondition name="Unsecured cookie">
            <add input="{RESPONSE_SET_COOKIE}" pattern="." />
            <add input="{RESPONSE_SET_COOKIE}" pattern="; Secure" negate="true" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="
          script-src 'self' https://ekr.zdassets.com/ https://static.zdassets.com/ https://apis.google.com https://cdnjs.cloudflare.com https://maxcdn.bootstrapcdn.com http://ajax.googleapis.com;
          style-src 'self' https://maxcdn.bootstrapcdn.com http://fonts.googleapis.com https://ajax.googleapis.com;
          frame-src 'self' http://apx.com;
          img-src 'self';
          frame-ancestors 'self';
          form-action 'self';
          font-src 'self';
          connect-src 'self' https://ekr.zdassets.com/ https://mirecs.zendesk.com/ wss://widget-mediator.zopim.com/;
          worker-src 'self';
          media-src 'self';
          object-src 'self';
          manifest-src 'self';
          "
        />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="RemoteOnly" >
      <error statusCode="404" redirect="/Error/404_Page_Not_Found.html" />
    </customErrors>
  </system.web>
</configuration>