.search__fields {
  display: grid;
  gap: 0.25rem;
}

.search__field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  gap: 1.5rem;
}

.search__label {
  text-align: end;
}
