.search__fields {
  display: grid;
  gap: 0.5rem;
}

.search__field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  gap: 1.5rem;
}

.search__label {
  font-weight: 600;
  text-align: end;
}

.search__value {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
