
@media (min-width: 768px) {
  .table-container {
    overflow: auto;
  }

  .sorting-settings {
    display: none;
  }
}

form > table > tbody > tr:nth-child(1) > td > table {
  display: block;
}

form > table > tbody > tr:nth-child(1) > td > table tbody {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

form > table > tbody > tr:nth-child(1) > td > table tr {
  display: block;

  border: 1px solid #ccc;
}

form > table > tbody > tr:nth-child(1) > td > table td {
  display: flex;
  flex-flow: row wrap;
}

form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-of-type(1) {
  display: none;
}

form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:before {
  flex-basis: 33%;
}

form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(1):before {
  content: 'Customer id: ';
}

form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(2):before {
  content: 'Company name: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(3):before {
  content: 'Contact name: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(4):before {
  content: 'Contact title: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(5):before {
  content: 'Address: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(6):before {
  content: 'City: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(7):before {
  content: 'Region: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(8):before {
  content: 'Postal code: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(9):before {
  content: 'Country: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(10):before {
  content: 'Phone: ';
}
form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:not(:nth-of-type(1)) > td:nth-of-type(11):before {
  content: 'Fax: ';
}

@media (min-width: 768px) {

  form > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-of-type(1) {
    display: table-row;
  }

  form > table > tbody > tr:nth-child(1) > td > table {
    display: table;
  }
  form > table > tbody > tr:nth-child(1) > td > table > tbody {
    display: table-row-group;
  }

  form > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-of-type(n):before {
    content: '';
    margin-right: 0;
  }

  form > table > tbody > tr:nth-child(1) > td > table > tbody tr {
    display: table-row;
  }

  form > table > tbody > tr:nth-child(1) > td > table > tbody td {
    display: table-cell;
    /* padding: 0.5em; */
  }

}